.DS_Store
colab/.DS_Store
colab/d1_aiat_academy-python102-colab/.DS_Store
colab/d2_aiat_academy-python102-colab/.DS_Store
lectures/.DS_Store
lectures/d1_aiat_academy-python102-lectures/.DS_Store
lectures/d2_aiat_academy-python102-lectures/.DS_Store